@font-face {
    font-family: 'aracne_regularregular';
    src: url'../fonts/aracne/aracne_regular-webfont.eot');
    src: url'../fonts/aracne/aracne_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url'../fonts/aracne/aracne_regular-webfont.woff2') format('woff2'),
         url'../fonts/aracne/aracne_regular-webfont.woff') format('woff'),
         url'../fonts/aracne/aracne_regular-webfont.ttf') format('truetype'),
         url'../fonts/aracne/aracne_regular-webfont.svg#aracne_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}