/* SETUP AND UTILITY CLASSES */

/* apply box sizing */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

*, *:before, *:after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit; 
	box-sizing: inherit;
}

.clearfix {
	content: "";
	display: table;
	clear: both; 
}

/** STRUCTURE **/

/* making full height homepage sections */

html, body {
	height: 100%;
	width: 100%;
	border: none;
	margin: 0;
}

.fullheight {
	height: 100%;
	min-height: 100%;
	/*height: 100vh;*/
}

@media (max-width: 700px) {
	#hero h1 {
		font-size: 2.5rem;
	}
	#hero h2 {
		font-size: 2rem;
	}
	
	#hero h3 {
		font-size: 1.85rem;
	}
}
	
@media (min-width: 701px) and (max-width: 959px) {
	#hero h1 {
		font-size: 3rem;
	}
	#hero h2 {
		font-size: 2.75rem;
	}
}

@media (max-height: 700px) {
	.titles {
		margin-top: -30px;
	}
}

#hero .logo {
	max-width: 125px;
	height: auto;
	margin: 20px auto;
	display: block;
	}

@media (min-width: 701px) {
	#hero .logo {
		margin-bottom: 30px;
		max-width: 150px;
	}
}

@media (max-width: 700px) {
  .homepage h2 {
    font-size: 2.75rem;
  }
}

#mailchimp {
	margin-top: 15px;
}

@media (max-width: 700px) {
	#mailchimp {
		margin-top: -100px;
	}
}

/** TYPOGRAPHY **/

h1, h2, h3 {
	font-family: 'aracne_regularregular', Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #18A3AC;
}

p {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a, a:hover, a:visited {
	color: #F48024;
	text-decoration: none;
}

#hero h1 {
	/*margin-top: 10%;*/
	margin-bottom: 15px;
	color: #fff;
}

#hero h2, #hero h3 {
	color: #fff;
}

.intro {
	text-align: center;
	font-size: 1.75rem;
	font-weight: bold;
	color: #18A3AC;
}

@media (max-width: 700px) {
	p {
		margin-top: -15px;
	}
}

/** ELEMENTS **/

#hero {
	position: relative;
	background-color: #226089;
	background: url("../images/hero.jpg") center;
	height: 100%;
	width: auto;
	color: #fff;
	 display: flex;
    align-items: center;
}

@media (max-width: 700px) {
	#hero {
		background: url("../images/hero.jpg") no-repeat;
		background-position: -1000px -50px;
	}
}

#about {
	margin-top: 30px;
}

#features {
	background-color: #1a9699;
	color: #efefef;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
}

#contact {
	text-align: center;
}

#footer {
	font-size: 1.25rem;
	margin-top: 20px;
}

.pod {
	background-color: #ddd;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 1.5em;
	margin-top: 15px;
	margin-bottom: 30px;
}

/* Scroller */

.scrollCTA {
	text-align: center;
	position: absolute;
	bottom: 10px;
	margin-bottom: 0px;
	width: 100%;
}

.scrollCTA a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
} 

.scrollCTA a:hover {
	color: #dedede;
}

.banner {
	width: 100%;
	height: auto;
	margin: 20px auto;
}

/*.logo {
	margin: 30px auto;
	display: block;
	max-width: 150px;
	height: auto;
}*/